* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #002339;
  color: #fff;
}
.container {
  width: 70%;
  max-width: 700px;
  margin: 15% 12%;
}

.input-box img {
  width: 40px;
  color: #019f55;
}

.input-box {
  background: #fff;
  padding: 5px 20px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
}

input[type="text"] {
  padding: 20px 10px;
  border: none;
}

h2 {
  color: #019f55;
  font-size: 45px;
  padding-bottom: 10px;
  border-bottom: 5px solid #019f55;
  display: inline-block;
}

h1 {
  font-size: 50px;
}

button img {
  max-width: 51px;
}

button {
  background: #019f55;
  border: none;
  outline: none;
  padding: 2px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}
span {
  color: #fff;
}
